#title{
    font-size: 75px;
    font-family: cursive;
    padding: 20px;
}

#instruction{
    
    width: 170px;
    padding: 20px;
}

.crystal{
    float: left;
height: 125px;
width: 75px;
padding:5px;
}

h3{
    clear: both;
    padding: 20px;
}

